<!DOCTYPE html>
<html>
<head>
	<title>Ma todolist</title>
	<style>
		a {text-decoration: none; color: black;}
	</style>
</head>
<body>

<h1>Todo List de CPHE</h1>
	<ul id="todolist"></ul>
	<form action="/todo" method="post" id="addtaskform">
		<p>
			<label for="newtodo">New TODO : </label>
			<input type="text" name="newtodo" id="newtodo" autofocus />
			<input type="submit" />
		</p>
	</form>

	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="../socket.io/socket.io.js"></script>
	<script>
            var socket = io.connect('http://localhost:8080');
			
			socket.on('add_task', function(task) {
				var ul = document.getElementById('todolist');
				var li = document.createElement("li");
				li.id = 'li_'+task.id;
				a = document.createElement('a');
				a.href = '/todo/delete/' + task.id;
				a.onclick = function() { return send_delete(socket, task.id); };
				a.innerHTML = '✘ ';
				li.appendChild(a);
				li.appendChild(document.createTextNode('[' + task.id + '] ' + task.text));
				ul.appendChild(li);
			});
			socket.on('del_task', function(taskid) {
				var li = document.getElementById('li_'+taskid);
				if(li != null)
				{
					while (li.hasChildNodes())
						li.removeChild(li.lastChild);
					li.innerHTML = '';
					li.parentNode.removeChild(li);
				}
			});
			$('#addtaskform').submit(function() {
				var tasktxt = $('#newtodo').val();
				socket.emit('newtodo', tasktxt);
				$('newtodo').val('').focus();
				return false;
			});
			function send_delete(socket, id) {
				socket.emit('delete', id);
				$('newtodo').val('').focus();
				return false;
            }
	</script>
</body>
</html>
